/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* main */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1 0 auto;
  overflow: hidden;
}

body {
  background: #fff;
  overflow: hidden;
}

a,
a:visited,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: #000;
}

.account-content {
  padding: 20px;
  @media screen and (min-width: 768px) {
    padding: 50px;
  }
  display: flex;
  flex-direction: column;
}

.account-heading {
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.account-field_list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
  padding: 0;
}

.account-field_key {
  font-size: 22px;
  font-weight: 600;
}

.account-field_value {
  font-size: 20px;
}

.account-pic {
  width: 50px;
  height: 50px;
}

.index-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index-content {
  transition: all 250ms;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.index-content .index-google_logo {
  transition: all 250ms;
  opacity: 0.5;
}
.index-content:hover .index-google_logo {
  transition: all 250ms;
  opacity: 1;
}
.index-content .index-heading {
  transition: all 250ms;
  opacity: 0.5;
}
.index-content:hover .index-heading {
  transition: all 250ms;
  opacity: 1;
  transform: translateY(8px);
}

.index-heading {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.index-google_logo {
  height: 50px;
  display: flex;
  justify-content: center;
}

.return_link {
  margin-bottom: 40px;
  transition: all 250ms ease-in-out;
}

.return_link:hover {
  transition: all 250ms ease-in-out;
  transform: translateX(15px);
}
