<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>golang google oauth example</title>

    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <main>
      <a href="/">return</a>
      <div class="info-content">
        <h1 class="info-heading">
          Hello <span><img class="info-pic" src="{{.Picture}}" /></span>
        </h1>
        <ul class="info-field_list">
          <li>
            <span class="info-field_key">ID: </span>
            <span class="info-field_value">{{.ID}}</span>
          </li>
          <li>
            <span class="info-field_key">Name: </span>
            <span class="info-field_value">{{.Name}}</span>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
