<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>golang google oauth example</title>

    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <main>
      <div class="account-content">
        <a href="/" class="return_link">← return</a>
        <h1 class="account-heading">
          Hello <span><img class="account-pic" src="{{.Picture}}" /></span>
        </h1>
        <ul class="account-field_list">
          <li>
            <span class="account-field_key">ID: </span>
            <span class="account-field_value">{{.ID}}</span>
          </li>
          <li>
            <span class="account-field_key">Name: </span>
            <span class="account-field_value">{{.Name}}</span>
          </li>
          <li>
            <span class="account-field_key">Email: </span>
            <span class="account-field_value">{{.Email}}</span>
          </li>
          <li>
            <span class="account-field_key">Is email verified: </span>
            <span class="account-field_value">{{.IsEmailVerified}}</span>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
