<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>golang google oauth example</title>

    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div></div>
    <main>
      <div>
        <div>
          <div>
            <div>
              <a href="/auth/google/login/" style="text-transform: none">
                <div>
                  <img
                    alt='Google "G" Logo'
                    src="https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg"
                  />
                </div>
                Login with Google
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
