<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>golang google oauth example</title>

    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div></div>
    <main>
      <div>
        <div class="index-container">
          <a href="/auth/google/login/" style="text-transform: none">
            <div class="index-content">
              <div class="index-gopher_image_container">
                <img
                  class="index-gopher_image"
                  alt="golang gopher"
                  src="images/gopher.png"
                />
              </div>
              <img
                class="index-google_logo"
                alt='Google "G" Logo'
                src="images/google-logo.svg"
              />
              <h1 class="index-heading">Login with Google</h1>
            </div>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
